
Android/style_transfer.zip
Android/style_transfer/.idea/runConfigurations.xml
Android/style_transfer/.idea/gradle.xml
Android/style_transfer/.idea/misc.xml
Android/style_transfer/.idea/encodings.xml
Android/style_transfer/replay_pid17800.log
Android/style_transfer/hs_err_pid7452.log
Android/style_transfer/replay_pid13616.log
Android/style_transfer/hs_err_pid17800.log
Android/style_transfer/replay_pid7452.log
Android/style_transfer/hs_err_pid13616.log
