
Android/style_transfer.zip
Android/style_transfer/.idea/runConfigurations.xml
Android/style_transfer/.idea/gradle.xml
Android/style_transfer/.idea/misc.xml
Android/style_transfer/.idea/encodings.xml
Android/style_transfer/replay_pid17800.log
Android/style_transfer/hs_err_pid7452.log
Android/style_transfer/replay_pid13616.log
Android/style_transfer/hs_err_pid17800.log
Android/style_transfer/replay_pid7452.log
Android/style_transfer/hs_err_pid13616.log
*.lock
Android/StyleTransfer/.gradle/5.1.1/executionHistory/executionHistory.bin
Android/StyleTransfer/.gradle/5.1.1/fileChanges/last-build.bin
Android/StyleTransfer/.gradle/5.1.1/fileHashes/fileHashes.bin
Android/StyleTransfer/.gradle/5.1.1/gc.properties
Android/StyleTransfer/.gradle/buildOutputCleanup/cache.properties
Android/StyleTransfer/.gradle/buildOutputCleanup/outputFiles.bin
Android/StyleTransfer/.gradle/vcs-1/gc.properties
Android/StyleTransfer/.idea/assetWizardSettings.xml
Android/StyleTransfer/.idea/caches/build_file_checksums.ser
Android/StyleTransfer/.idea/caches/gradle_models.ser
Android/StyleTransfer/.idea/encodings.xml
Android/StyleTransfer/.idea/gradle.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_activity_activity_1_0_0_aar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_annotation_annotation_1_1_0_jar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_1_0_aar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_1_0_aar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0_jar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_collection_collection_1_1_0_jar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_1_1_3_aar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_1_1_3_jar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_core_core_1_1_0_aar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_0_0_aar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_fragment_fragment_1_1_0_aar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_1_0_jar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_0_0_aar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_1_0_aar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_1_0_aar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_savedstate_savedstate_1_0_0_aar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_2_0_aar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_2_0_aar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_test_monitor_1_2_0_aar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_test_runner_1_2_0_aar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_0_aar.xml
Android/StyleTransfer/.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
Android/StyleTransfer/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1_jar.xml
Android/StyleTransfer/.idea/libraries/Gradle__com_squareup_javawriter_2_1_1_jar.xml
Android/StyleTransfer/.idea/libraries/Gradle__javax_inject_javax_inject_1_jar.xml
Android/StyleTransfer/.idea/libraries/Gradle__junit_junit_4_12_jar.xml
Android/StyleTransfer/.idea/libraries/Gradle__net_sf_kxml_kxml2_2_3_0_jar.xml
Android/StyleTransfer/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3_jar.xml
Android/StyleTransfer/.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3_jar.xml
Android/StyleTransfer/.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3_jar.xml
Android/StyleTransfer/.idea/misc.xml
Android/StyleTransfer/.idea/modules.xml
Android/StyleTransfer/.idea/runConfigurations.xml
Android/StyleTransfer/.idea/vcs.xml
Android/StyleTransfer/.idea/workspace.xml
Android/StyleTransfer/app/build/generated/source/buildConfig/androidTest/debug/com/example/styletransfer/test/BuildConfig.java
Android/StyleTransfer/app/build/generated/source/buildConfig/debug/com/example/styletransfer/BuildConfig.java
Android/StyleTransfer/app/build/intermediates/apk_list/debug/mainApkListPersistenceDebug/apk-list.gson
Android/StyleTransfer/app/build/intermediates/bundle_manifest/debug/processDebugManifest/bundle-manifest/AndroidManifest.xml
Android/StyleTransfer/app/build/intermediates/bundle_manifest/debug/processDebugManifest/bundle-manifest/output.json
Android/StyleTransfer/app/build/intermediates/compatible_screen_manifest/debug/createDebugCompatibleScreenManifests/out/output.json
Android/StyleTransfer/app/build/intermediates/instant_app_manifest/debug/AndroidManifest.xml
Android/StyleTransfer/app/build/intermediates/instant_app_manifest/debug/output.json
Android/StyleTransfer/app/build/intermediates/instant_run_merged_manifests/debug/output.json
Android/StyleTransfer/app/build/intermediates/merged_manifests/debug/AndroidManifest.xml
Android/StyleTransfer/app/build/intermediates/merged_manifests/debug/output.json
Android/StyleTransfer/app/build/intermediates/merged_manifests/debugAndroidTest/AndroidManifest.xml
Android/StyleTransfer/app/build/intermediates/merged_manifests/debugAndroidTest/output.json
Android/StyleTransfer/app/build/intermediates/metadata_feature_manifest/debug/processDebugManifest/metadata-feature/output.json
Android/StyleTransfer/app/build/outputs/logs/manifest-merger-debug-report.txt
Android/StyleTransfer/gradle/wrapper/gradle-wrapper.jar
Android/StyleTransfer/gradle/wrapper/gradle-wrapper.properties
Android/StyleTransfer/gradlew
Android/StyleTransfer/gradlew.bat
Android/StyleTransfer/local.properties
Android/StyleTransfer/StyleTransfer.iml
Android/style_transfer/.idea/vcs.xml
