
Android/style_transfer.zip
Android/style_transfer/.idea/runConfigurations.xml
Android/style_transfer/.idea/gradle.xml
Android/style_transfer/.idea/misc.xml
Android/style_transfer/.idea/encodings.xml
